<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Taksowki.Properties.Settings.baza_danychConnectionString"
            connectionString="server=77.55.254.17;user id=chmiel;password=Maslo1;persistsecurityinfo=True;database=baza-danych"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>